.blue-btn{
  background-color: #2953bf;
  color: white;
}

button{
  border-radius: 8px;
  width: 8rem;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 1rem;
  padding: .7rem;
  font-weight: 500;
}

.outline-blue{
  outline: 1px solid #8ea4dd;
  color: #8ea4dd
}